* {
	box-sizing: border-box;
	/* vključi padding in border v width objekta */
}
body {
	margin: 0px;
	padding: 0px;
}

div.clearfix {
	clear:both;
}

div.vsebina {
	width: 1020px;
	padding: 20px;
	margin: 0px auto;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

div.vsebina p,
div.vsebina img {
	display: block;
	width: 50%;
	float:left;
	padding: 0 15px 0 15px;
	margin: 0px;
}

/* media query */
@media screen and (max-width:1040px) {
	div.vsebina {
		width:800px;
		padding: 15px;
	}
}

@media screen and (max-width:800px) {
	div.vsebina {
		width:100%;
		padding: 0px;
		border: 0px;
		margin: 0px;
	}

	div.vsebina p,
	div.vsebina img {
		padding: 15px;
		width: 100%;
	}
}


